.main__about {
  display: flex;
  align-items: center;
  text-align: justify;
  justify-content: space-between;
  padding: 4% 10%;
  gap: 60px;
}

/* ajuste na imagem para evitar que mesma fique distorcendo*/
.img__photo {
  width: 100%;
  max-width: 420px;
  height: auto;
  object-fit: cover;
}

.about__title {
  padding: 0% 0% 5% 0%;
  font-size: var(--font-size-title);
}

.about__container {
  display: flex;
  flex-direction: column;
  font-family: var(--font-montserrat);
}

@media (max-width: 920px) {
  .main__about {
    flex-direction: column;
  }
}
